body {
	font-size: 1.3rem;
	color: #575757;
}

.app {
	position: relative;
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.mainContainer {
	position: relative;
	height: 100%;
	transition: all 0.3s ease-in-out;
}