.InfoBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 30rem;

	border: 1px solid #b6bfc9;
	border-radius: 0.6rem;

	& header {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 1rem;
		background: #f8d9d960;

		width: 100%;
		height: 100%;

		line-height: 2rem;
		text-transform: uppercase;
	}

	& span {
		color: #196480;
		padding: 2rem 0;
	}
}
