.NavigationItems {
	height: calc(100% - 19rem);

	& p {
		opacity: 0;
		visibility: hidden;
	}

	transition: all 0s 0s;

	&.menuExpanded {
		opacity: 1;
		display: block;
		visibility: visible;
		transition: visibility 0s 0.3s;

		& p {
			opacity: 1;
			visibility: visible;
		}
	}

	& ul {
		overflow-y: auto;
		height: 100%;
	}
}

.bottom {
	position: absolute;
	height: auto;
	bottom: 5rem;
	width: 100%;
}
