.NavigationItems {
	height: calc(100% - 19rem);
	visibility: hidden;
	opacity: 0;
	transition: all 0s 0s;

	&.menuExpanded {
		opacity: 1;
		display: block;
		visibility: visible;
		transition: visibility 0s 0.3s;
	}

	& ul {
		overflow-y: auto;
		//text-align: left;
		height: 100%;
	}
}

.bottom {
	position: absolute;
	height: auto;
	bottom: 5rem;
	width: 100%;
}
