.HistoryInfo {
	height: 100%;
	& h2,
	h3,
	p {
		margin: 0;
		padding: 0;
	}

	.policy {
		height: 100%;
	}

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		width: 100%;
		min-height: 4rem;

		padding: 1rem;

		color: #196480;
		background: #e6e9ea;

		h2 {
			border: none;
		}

		div {
			display: flex;
		}

		span {
			padding: 0.5rem 1.5rem;
			margin-right: 5rem;

			text-transform: uppercase;

			color: #fff;

			border-radius: 15px;
		}
	}
	.flags {
		position: relative;
		display: flex;
		flex-direction: column;

		margin: 1rem 2rem 2rem 2rem;

		border: 1px solid #b6bfc9;
		border-radius: 0.6rem;
		overflow: hidden;

		h3 {
			padding-left: 1rem;

			text-transform: uppercase;
			line-height: 4rem;
			border-bottom: 1px solid #b6bfc9;
		}
		.rowList {
			margin: 1rem 3rem;

			border: 1px solid #b6bfc9;
			border-radius: 0.6rem;
			overflow: hidden;
			h2 {
				margin-left: 1rem;

				font-size: 1.3rem;
				line-height: 3rem;
			}
		}
	}

	.routes {
		position: relative;
		display: flex;
		flex-direction: column;

		margin: 1rem 2rem 2rem 2rem;

		border: 1px solid #b6bfc9;
		border-radius: 0.6rem;
		overflow: hidden;

		h3 {
			padding-left: 1rem;

			line-height: 4rem;
			border-bottom: 1px solid #b6bfc9;
		}

		p {
			padding: 4rem 10rem;
		}

		.table {
			padding: 1rem 1rem 4rem 1rem;

			.th {
				display: flex;
				justify-content: space-between;
				color: #196480;

				h3 {
					margin-right: 4rem;
					border: none;
				}

				p {
					padding-left: 1rem;
					width: 100%;

					&:last-child {
						width: 14rem;
						padding-left: 3rem;
					}
				}
			}
		}
	}
}

.innerContent {
	height: 100%;
	overflow-y: auto;

	padding-bottom: 10rem;
}
