.HistoryInfo {
	height: 100%;
	overflow: hidden;
	
	& header {
		display: flex;
		justify-content: space-between;

		width: 100%;

		padding-left: 1rem;
		border-radius: 0.6rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		color: #196480;
		background: #e6e9ea;

		& div {
			display: flex;
		}

		& h2 {
			background: none;
			font-size: 1.2rem;
			margin: 0;
			padding: 0;
		}

		& span {
			max-height: 4rem;
			padding: 0.5rem 1.5rem;
			margin-right: 5rem;

			text-transform: uppercase;

			color: #fff;

			border-radius: 15px;
		}

		& .buttonClose {
			position: relative;
		}
	}

	.ncfsContainer {
		height: calc(100% - 4rem);
		overflow-y: auto;
		padding-bottom: 4rem;
	}

	.togglesBlock {
		background: #fff;
		padding-bottom: 3rem;
		border-bottom: 1px solid #b6bfc9;
	}
}

.tableContainer {
	width: 100%;
	overflow: hidden;
	padding: 1rem;

	& .table {
		padding-left: 2rem;
		border-top: 1px solid #b6bfc9;

		& thead th {
			position: relative;

			padding: 0.7rem 2rem;

			font-size: 1.2rem;
			color: #196480;
			border-bottom: 1px solid #4592b0;
		}

		& tbody {
			& td {
				font-size: 1.2rem;
				padding: 0.7rem 2rem;
			}

			& td .noborder {
				border-bottom: none;
			}
		}
	}
}

.innerContent {
	width: 100%;
	height: calc(100% - 13rem);

	overflow: hidden;

	.head {
		background: #ffffff;
		border-bottom: 1px solid #b6bfc9;
	}	
}


.Tab {
	width: 100% !important;
	height: 100% !important;
}