.RenderResults {
	width: 48%;
	background: #ffffff;
	border: 1px solid #b6bfc9;
	border-radius: 0.6rem;

	overflow: hidden;

	& .headline {
		font-size: 1.5rem;
		line-height: 4rem;
		text-transform: uppercase;

		color: #636363;
		margin: 0;

		padding-left: 1rem;

		border-bottom: 1px solid #636363;
	}

	& .container {
		height: 100%;
		padding: 0 5%;

		overflow-y: auto;

		& .buttons {
			display: flex;
			margin: 1rem;
		}

		& .button {
			font-size: 1.7rem;
			font-weight: 800;

			background-color: #1a919a;
			padding: 1rem 5rem;

			color: white;
			border: none;

			margin-right: 4rem;
		}
	}
}
.result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0 10%;
}
