.DateAndTimePickers {
	position: absolute;
	z-index: 1;
	display: flex;

	align-items: center;

	height: 2.2rem;

	border: 1px solid #b6bfc9;
	border-radius: 1.5rem;

	& .intervalButton {
		display: flex;
		align-items: center;

		height: 100%;

		border: none;
		padding: 0 1rem;

		background: #4592b0;
		color: #ffffff;
		border-right: 1px solid #b6bfc9;
		border-radius: 1.5rem 0 0 1.5rem;

		cursor: pointer;
	}
	& .popup {
		top: 3rem;
		left: 12rem;
		& button {
			margin-bottom: 1rem;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: #ffffff;
				background-color: #4592b0;
				transition: all 0.2s ease-in-out;
			}
		}
	}
}
