.User {
	height: 4rem;

	margin-left: 1rem;

	cursor: pointer;

	transition: background 0.2s ease-in-out;
	border-bottom: 1px solid #b6bfc9;

	&:hover {
		transition: background 0.2s ease-in-out;
		background: #e6e9ea;
	}

	td {
		font-size: 1.2rem;
		padding: 0;
		border: 0;

		padding-left: 1rem;
	}

	svg {
		width: 1.6rem;
		margin-right: 2rem;
	}

	input {
		border: 1px solid #b6bfc9;
		border-radius: 3px;

		padding-left: 1rem;
		margin: 0.5rem 0;

		color: #000;

		width: 80%;
	}
}