.RequestHistory {
	background: #e6e9ea;
}

.wrapTable {
	//position: relative;
	padding: 0 3rem;

	background: #ffffff;

	transition: all 0.5s;

	&.notActive {
		opacity: 0.5;
		filter: blur(0.2rem);
		pointer-events: none;
		transition: all 0.5s;
	}
}

.table {
	color: #196480;

	& th {
		height: 4rem;
		font-size: 1.2rem;
		padding: 0;

		border: none;
	}

	& thead th {
		position: relative;
		color: #196480;

		cursor: pointer;

		& .icon {
			position: absolute;
			top: 0.5rem;
			right: 6rem;

			width: 3rem;
		}
	}

	& .tbody {
		border-top: 1px solid #54e0e8;
		border-bottom: 1px solid #54e0e8;
	}
}
