.Checkbox {
	text-transform: uppercase;
	text-align: left;
	float: left;
	align-items: flex-start;

	flex-direction: row;

	margin-bottom: 0.5rem;
}

.risk {
	border-radius: 2rem;
	color: #ffffff;
	padding: 0.3rem;
}
