.RequestHistory {
	position: relative;
	.table {
		//padding: 2rem 1rem 1rem 1rem;
		& .th {
			display: flex;
			color: #196480;
			& p {
				flex-grow: 1;
				text-align: left;
				padding-left: 1rem;
				white-space: nowrap;
			}
		}
	}
	& .wrap {
		border-top: 1px solid #54e0e8;
		border-bottom: 1px solid #54e0e8;
	}
}
.head {
	color: #196480;
	font-weight: bold;

	& span {
		font-weight: normal;
	}
}
