.LoadingIndicator {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: hsl(200, 58%, 30%);
	//border-radius: $drop-area-border-radius;
	position: absolute;

	& .spinner {
		position: absolute;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		align-items: center;
		width: 5rem;
		height: 5rem;
		animation: spinner 0.4s linear infinite;
		opacity: 1;
		transition: 0.5s all;

		&::before,
		&::after {
			content: "";
			position: relative;
			display: block;
			width: 0.8rem;
			height: 0.8rem;
			//background-color: $seaBlue;
			background-color: #90aec0;
			border-radius: 100%;
		}
	}
}

@keyframes spinner {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(175deg);
	}
}
