.modal {
	width: 70%;
	height: 70%;
}

.container {
	height: 100%;
	padding-top: 1rem;
}

.wrapTable {
	height: 90%;
	padding: 0 2.5rem;
	transition: all 0.5s;

	&.notActive {
		opacity: 0.5;
		filter: blur(0.2rem);
		pointer-events: none;
		transition: all 0.5s;
	}
}

.tableContainer {
	height: 100%;
	overflow: hidden;
}

.main {
	top: 12rem !important;
	height: calc(100% - 13.5rem);
}

.table {
	color: #196480;

	& th {
		width: 25%;
		height: 4rem;
		font-size: 1.2rem;

		border: none;
	}

	& thead {
		display: table;
		width: 100%;
	}

	& thead th {
		position: relative;
		padding-bottom: 1.2rem;
		color: #196480;

		cursor: pointer;

		& .icon {
			position: absolute;
			top: 0.5rem;
			right: 6rem;

			width: 3rem;
		}
	}

	& .tbody {
		display: block;
		overflow-y: auto;
		max-height: 73rem;
		border-top: 1px solid #4592b0;
		border-bottom: 1px solid #4592b0;
	}

	& .emptyTableRow {
		display: table !important;
		width: 99%;
		height: 4rem;
		margin-left: 1rem;
	}

	& .emptyTableCell {
		text-align: center;
	}
}

@media(min-width: 992px) and (max-width: 1800px) {
	.table {
		& th {
			font-size: 1rem;
		}
	}
}