.container {
	max-height: 83rem;
}

.wrapTable {
	padding: 0 2.5rem;
	transition: all 0.5s;

	&.notActive {
		opacity: 0.5;
		filter: blur(0.2rem);
		pointer-events: none;
		transition: all 0.5s;
	}
}

.main {
	height: calc(100% - 13.5rem);
}

.table {
	color: #196480;
	overflow-y: scroll;
	height: 100%;

	& th {
		height: 4rem;
		font-size: 1.2rem;
		padding: 0;

		border: none;
	}

	& thead {
		border-bottom: 1px solid #4592b0;
	}

	& thead th {
		position: relative;
		color: #196480;

		cursor: pointer;

		& .icon {
			position: absolute;
			top: 0.5rem;
			right: 6rem;

			width: 3rem;
		}
	}

	& .tbody {
		border-top: 1px solid #4592b0;
	}

	& .emptyTableCell {
		text-align: center;
	}
}

.main {
	top: 12rem !important;
}