.Dashboard {
	overflow: hidden;
	height: 100%;

	background: #ffffff;

	& .top {
		display: flex;

		height: 4rem;

		align-items: center;
		padding-left: 1rem;

		text-transform: uppercase;

		background: #ffffff;
	}

	& .innerContent {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		height: 100%;

		overflow-y: auto;
		& .innerTop {
			display: flex;
		}
	}

	& .infoBlocks {
		display: flex;
		justify-content: center;
		align-items: center;

		flex-wrap: wrap;

		width: 60%;

		margin: 5rem 2rem 4rem 2rem;

		& div {
			margin: 2rem 2rem;
		}
	}

	& .pieChart {
		margin: 5rem;
	}

	& .lineChart {
		width: 90%;
		margin-bottom: 10rem;
	}

	& .pickersWrap {
		width: 100%;
		padding: 1rem 0.5rem;

		background: #e6e9ea;

		& .pickersBlock {
			display: flex;

			align-items: center;

			height: 4rem;

			background: #f6f9fa;
			border-radius: 3rem;

			& h3 {
				margin: 0;
				margin-left: 2rem;
			}

			& .pickers {
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
