.Auth {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;

	padding-top: 10rem;

	background: linear-gradient(-45deg, #196480, #0c3450);
}


@media(max-width: 992px) {
	.Auth {
		padding-top: 0;
	}
}