.Popup {
	position: absolute;
	z-index: 99;

	padding: 2rem;

	background-color: #fff;
	border-radius: 0.6rem;
	box-shadow: 0 3px 16px 1.6px rgba(0, 0, 0, 0.34);
	transition: 0.3s opacity, 0.3s transform;

	& button {
		display: flex;
		width: 20rem;

		text-decoration: none;
		text-transform: uppercase;
		background-color: transparent;
		border: none;

		background-repeat: no-repeat;
		background-position: 1rem center;

		text-align: left;

		cursor: pointer;
	}
}
