.DomainField {
	width: 100%;
	border-top: 1px solid #54e0e8;
	border-bottom: 1px solid #54e0e8;

	& input {
		height: 3rem;
		border: 1px solid #b6bfc9;
		border-radius: 3px;

		padding-left: 1rem;
		margin: 0.5rem 0;

		color: #000;
	}
	& svg {
		width: 1.5rem;
	}

	& .td {
		display: flex;
		justify-content: space-between;

		width: 100%;
		padding-left: 1rem;

		& div:first-child {
			flex-grow: 1;
		}
	}

	& .validated {
		display: flex;
		align-items: center;
		width: 14rem;

		& svg {
			margin-left: 3rem;
		}
	}
}
