.header {
	display: block;
	height: 5rem;
	background-color: #eef0f1;
	padding: 0 2rem;
	color: #0c3450;
	border-radius: 0.6rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	h1 {
		float: left;
		width: calc(100% - 14rem);
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-size: 1.6rem;
		line-height: 5rem;
		font-family: "montserratregular", sans-serif;
	}
}

.body {
	display: block;
	height: 5rem;
	padding: 0 2rem;
	color: #0c3450;
	border-radius: 0.6rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	h1 {
		float: left;
		width: calc(100% - 14rem);
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-size: 1.6rem;
		line-height: 5rem;
		font-family: "montserratregular", sans-serif;
	}
}

.close {
	width: 5rem;
	height: 5rem;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	outline: none;
	filter: blur(0);
	background: transparent
		url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 17'%3E%3Cstyle%3E.st0%7Bfill:%23125b7f%7D%3C/style%3E%3Cpath transform='rotate(-45.001 8.5 8.5)' class='st0' d='M-2 8h21v1H-2z'/%3E%3Cpath transform='rotate(45.001 8.5 8.5)' class='st0' d='M-2 8h21v1H-2z'/%3E%3C/svg%3E")
		center center no-repeat;
	background-size: 1.7rem 1.7rem;
	cursor: pointer;
}
