.Input {
	width: 100%;
	margin: 1rem 0;

	& input {
		position: relative;
		width: 100%;
		height: 40px;

		background: rgba(255, 255, 255, 0.2);
		color: white;
		border: none;
		border-radius: 6px;

		background-repeat: no-repeat;
		background-position: 0 center;

		//padding-left: 5rem;

		&::placeholder {
			text-transform: uppercase;
			opacity: 0.2;
			color: white;
		}
	}
}
