.History {
	position: relative;

	width: 100%;
	height: 100%;
	padding: 0 3rem;

	.container {
		height: 100%;
		padding-top: 1rem;
	}

	.table {
		height: 100%;
		color: #196480;

		& th {
			width: 30%;
			height: 4rem;
			font-size: 1.2rem;

			border: none;
		}

		& thead {
			display: table;
			width: 60%;
			height: 6%;
		}

		& thead th {
			position: relative;
			padding-bottom: 1.2rem;
			color: #196480;

			cursor: pointer;

			& .icon {
				position: absolute;
				top: 0.5rem;
				right: 6rem;

				width: 3rem;
			}
		}

		& .tbody {
			height: 90%;
			display: block;
			overflow-y: auto;
			border-top: 1px solid #4592b0;
			border-bottom: 1px solid #4592b0;

			button {
				font-size: 1.2rem;
				line-height: 2rem;
				background: #196480;
			}
		}

		& .emptyTableRow {
			display: table !important;
			width: 99%;
			height: 4rem;
			margin-left: 1rem;
		}

		& .emptyTableCell {
			text-align: center;
		}
	}
}

.confirmPublishModal {
	width: 30vw;
	height: auto;
}

.openPopupEnterActive {
	animation: popup 300ms linear forwards;
}

.closePopupExitActive {
	animation: popup 300ms linear alternate-reverse forwards;
}

.openBackdropEnterActive {
	animation: fadein 300ms linear forwards;
}

.closeBackdropExitActive {
	animation: fadein 300ms linear alternate-reverse forwards;
}

@keyframes popup {
	from {
		top: 100%;
		opacity: 0;
	}

	to {
		top: 50%;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.7;
	}
}

@media(min-width: 992px) and (max-width: 1800px) {
	.table {
		& th {
			font-size: 1rem;
		}
	}
}