$main-text-color: #54e0e8;
$alt-text-color: #daf5fb;
.logo {
	position: absolute;
	top: 5vh;
	left: 4vw;
	width: 20rem;
	height: 10rem;
	margin: 3rem 1rem;
}

.wrapForm {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 30rem;

	input {
		margin: 2rem 0;
		padding-left: 5rem;
	}

	h2 {
		position: relative;

		font-size: 2.2rem;

		margin: 0;
		padding-left: 4rem;
		margin-bottom: 1rem;

		&.heading {
			color: $main-text-color;
		}
	}

	.message {
		line-height: normal;
		color: $alt-text-color;
	}

	.iconPass {
		position: absolute;
		left: -18px;
		top: -21px;

		width: 7rem;
		height: 7rem;

		path {
			stroke: $main-text-color;
		}
	}

	p {
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
}

.wrapButtons {
	display: flex;
	justify-content: space-between;
}
.recaptcha {
	margin-bottom: 3rem;
}
