.login {
	& form {
		display: flex;
		flex-direction: column;

		width: 100%;

		margin: 4rem 0;

		.inputContainer {
			height: 4rem;
			margin-bottom: 0.5rem;
		}

		& input {
			padding-left: 5rem;
			color: white !important;

			&::placeholder {
				color: white !important;
			}
		}

	}

	& button {
		margin: 4rem auto 0;
	}
}

.loginContainer {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 30rem;

	input:-webkit-autofill {
		background-clip: text;
		-webkit-background-clip: text !important;
		-webkit-text-fill-color: white !important;
		caret-color: white;
	}
}

.logo {
	position: absolute;
	top: 17vh;
	left: 50vw;
	transform: translate3d(-50%, -50%, 0);
	width: 20rem;
	height: 10rem;
}

.linkTerms {
	font-size: 1.2rem;
	margin: 1rem auto;
	color: #e6e9ea;

	a {
		color: #54e0e8;
		text-decoration: none;
	}
}

.rePassLink {
	a {
		font-size: 1.4rem;
		color: #e6e9ea;

		text-decoration: none;
	}
}