.login {
	& form {
		display: flex;
		flex-direction: column;

		width: 100%;

		margin: 4rem 0;

		& input {
			padding-left: 5rem;
		}
	}
	& button {
		margin: 4rem auto 0;
	}
}

.loginContainer {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 30rem;
}

.logo {
	position: absolute;
	top: 17vh;
	left: 50vw;
	transform: translate3d(-50%, -50%,0);
	width: 20rem;
	height: 10rem;
}

.linkTerms {
	font-size: 1.2rem;
	margin: 1rem auto;
	color: #e6e9ea;

	a {
		color: #54e0e8;
		text-decoration: none;
	}
}

.rePassLink {
	a {
		font-size: 1.4rem;
		color: #e6e9ea;

		text-decoration: none;
	}
}
