.button {
	display: block;
	min-width: 10rem;
	padding: 0;
	font-size: 1.4rem;
	line-height: 3.2rem;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	color: #fff;
	border: #6697a6 2px solid;
	border-radius: 0.3rem;
	transition: all 0.3s;

	white-space: nowrap;
	cursor: pointer;
}
