.Filters {
	background: #e6e9ea;

	cursor: pointer;

	& h2 {
		margin: 0;
		padding: 0;
		font-size: 1.4rem;
	}

	& .addFilter {
		max-width: 11rem;
		color: #4592b0;
		line-height: 2rem;
		margin-top: 1rem;
		margin-left: 1rem;
		padding: 0 1rem;
		border: #4592b0 1px solid;
	}

	.wrap {
		padding: 1rem;
		margin: 2rem 2rem 0 2rem;
		background-color: #fff;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.4);
		border-radius: 2.2rem;
	}

	& .header {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& .head {
			display: block;
		}

		& .arrow::before {
			content: "";
			position: absolute;
			width: 1rem;
			height: 100%;
			top: 0;
			right: 0;
			background-repeat: no-repeat;
			background-position: center center;
			background-image: url("../../assets/svg/filters/expand-arrow-grey.svg");
			transition: all 0.3s;
		}

		& .arrow.rotate::before {
			transform: rotate(-90deg);
			transition: all 0.3s;
		}

		& .moreFilters {
			position: absolute;
			top: -4px;
			right: 30px;

			padding: 0.3rem 1rem;

			opacity: 1;
			background: #4592b0;
			color: #fff;

			border: #fff 2px solid;
			border-radius: 1.2rem;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

			transition: all 0.3s;

			&.hide {
				right: -10px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.2s;
			}
		}
	}

	& .footer {
		position: relative;
		& .filters {
			height: 0;
			background-color: #e9ecec;

			transition: all 0.5s;

			&.expanded {
				height: 100%;
				min-height: 8rem;

				margin-top: 2rem;
				transition: all 0.5s;
			}
		}
	}

	& .filterList {
		display: flex;
		flex-direction: column;
		margin: 1rem 0;
		& li {
			width: 15rem;
			height: 3rem;
			&:hover {
				background-color: #e6e9ea;
				transition: all 0.1s;
			}
			& button {
				border: none;
				background: none;
				cursor: pointer;
				width: 100%;
				height: 100%;
				outline: none;

				text-align: left;
			}
		}
	}

	& .popup {
		top: 19.2rem;
		left: 2rem;

		& button {
			text-transform: none;
		}
	}

	& .popupFilterFileType {
		top: 19.2rem;
		left: 14rem;
		z-index: 98;

		width: 60rem;

		padding: 2rem;

		& fieldset {
			margin-bottom: 5rem;

			& label {
				margin-left: 0.5rem;
			}
		}
	}

	& .popupFilterOutcome {
		top: 19.2rem;
		left: 14rem;
		z-index: 98;

		width: 30rem;

		padding: 2rem;

		& label {
			width: 12rem;
		}
	}

	& .fileId {
		position: absolute;
		top: 29rem;
		left: 14rem;
		z-index: 98;

		display: flex;

		width: 45rem;
		padding: 1rem;

		background-color: #fff;
		border-radius: 0.3rem;
		box-shadow: 0 3px 16px 1.6px rgba(0, 0, 0, 0.34);
		transition: 0.3s opacity, 0.3s transform;

		& .inputFileId {
			border: 1px solid #b6bfc9;
			border-radius: 0.3rem;

			padding: 0;
			margin: 0;

			padding-left: 2rem;
			color: black;

			& input {
				color: #000000;
			}

			&::placeholder {
				color: #b6bfc9;
				opacity: 1;

				text-transform: initial;
			}
		}
		& .addButton {
			margin-left: 1rem;
			padding: 0 2rem;

			color: #fff;
			white-space: nowrap;
			background: #4592b0;

			border: none;
			border-radius: 0.3rem;

			cursor: pointer;

			&:disabled {
				opacity: 0.5;
				color: #ccc;
				cursor: not-allowed;
			}
		}
	}

	& .pickers {
		top: 3rem;
		left: 50%;
		transform: translateX(-50%);
	}
}
