.TabNav {
	position: relative;
	width: 100%;
	height: 100%;

	border-radius: 0.6rem;

	& ul {
		display: flex;
		padding-bottom: 1rem;
	}
}

.link {
	display: flex;
	width: 20%;
	height: 5rem;

	margin-bottom: 1rem;

	&:last-child {
		flex-grow: 1;
	}

	& img {
		width: 2rem;
		margin-right: 1rem;
	}
}

.button {
	border: none;
	outline: none;
	width: 100%;
	height: 100%;

	text-align: left;
	text-transform: uppercase;

	background: #ffffff;

	cursor: pointer;
	&.active {
		background: #edf0f1;
		color: #179fa6;
	}
}

.wrap {
	height: 100%;
	background-color: #ffffff;
}

.tabwrap {
	position: relative;
	display: flex;
	justify-content: center;

	width: 100%;
	height: 100%;
}
