$main-text-color: #54e0e8;
$alt-text-color: #daf5fb;

section {
	overflow-y: auto;
	margin-bottom: 2rem;
}

.logo {	
	margin-left: 4vw;
	width: 20rem;
	height: 10rem;
}

.wrapForm {
	top: 50%;
	left: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	width: 60%;
	height: 70rem;
	margin-left: 20%;

	input {
		margin: 2rem 0;
	}

	h2 {
		font-size: 2.2rem;

		margin: 0;
		margin-bottom: 1rem;

		&.heading {
			color: $main-text-color;
		}
	}

	.message {
		margin-bottom: 2rem;
		line-height: normal;
		color: $alt-text-color;

		a {
			color: #ffffff;
		}

		a:hover {
			color: #54e0e8;
		}
	}

	.iconPass {
		position: absolute;
		left: -18px;
		top: -21px;

		width: 7rem;
		height: 7rem;

		path {
			stroke: $main-text-color;
		}
	}

	.backButton {
		margin-bottom: 3rem;
	}

	p {
		color: #ffffff;
		margin: 0;
		padding: 0;
	}
}



.wrapButtons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;	
}

.recaptcha {
	margin-bottom: 3rem;
}


.requirementsTable {
	margin-bottom: 2rem;
	line-height: normal;
	color: $alt-text-color;
	border-collapse: collapse;
	width: 99%;
	color: #ffffff;

	text-align: center;

	tr, td, th {
		border: 1px solid #ffffff;
		padding: 8px;
		text-align: left;
	}

	th {
		font-size: 2rem
	}

	td {
		font-size: 1.5rem;
	}
}

@media(max-width: 992px) {
	.wrapForm {
		width: 95%;
		margin-left: 2.5%;
		margin-top: 6rem;
		justify-content: normal;
	}
}