@font-face {
  font-family: 'montserratmedium';
  src: url('./fonts/montserrat-medium-webfont.woff2') format('woff2'),
      url('./fonts/montserrat-medium-webfont.woff') format('woff');
}
@font-face {
  font-family: 'montserratregular';
  src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
      url('./fonts/montserrat-regular-webfont.woff') format('woff');
}
@font-face {
  font-family: 'montserratsemibold';
  src: url('./fonts/montserrat-semibold-webfont.woff2') format('woff2'),
      url('./fonts/montserrat-semibold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'robotomedium';
  src: url('./fonts/roboto-medium-webfont.woff2') format('woff2'),
      url('./fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
      url('./fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url('./fonts/roboto-light-webfont.woff2') format('woff2'),
      url('./fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: hsl(195, 9%, 91%);
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
  > #root {
      height: 100%;
  }
  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }
}
body {
  margin: 0;
  font-family: robotoregular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-family: 'montserratregular', sans-serif;
}

h2, h3 {
  font-weight: normal;
  font-family: 'robotoregular', sans-serif;
}


.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: 0.5s all;
}

.modal-enter-done {
  opacity: 1;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: 0.5s all;
}

.inline-image {
  margin: 0;
  vertical-align: middle;
}
