.container {
	height: 100%;
	padding-top: 1rem;
}

.Policy {
	overflow: hidden;
	height: 100%;

	background: #dee3e4d6;

	border: none;
	border-radius: 0.6rem;

	h2 {
		max-height: 4rem;

		text-transform: uppercase;

		margin: 0;
		padding-left: 2rem;

		font-size: 1.4rem;
		line-height: 4rem;
		border-radius: 0.6rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	h3 {
		margin: 0;
		text-transform: uppercase;
	}
}
