.UserLink {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 7rem;

	transition: all 0s 0s;

	margin-bottom: 5rem;
	background: rgba(255, 255, 255, 0.1);

	& p {
		margin-left: 6rem;

		visibility: hidden;
		opacity: 0;
		text-transform: uppercase;
		color: white;

		&.clip {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	& div:first-child {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 1rem 50%;
	}

	//& p {
	//	text-transform: uppercase;
	//	color: white;
	//}

	&.userLinkExpanded {
		p {
			opacity: 1;
			visibility: visible;
			transition: visibility 0s 0.3s;
		}
	}
}
