.user {
	height: 100%;

	& td {
		position: relative;
	}
	& td:last-child {
		display: flex;
		justify-content: space-around;
	}
	& svg {
		width: 1rem;
		//position: absolute;
		//top: 0;
		//left: 0;
	}

	.padlockClose {
		position: relative;
		//display: flex;
		//flex-direction: column;
		& svg:first-child {
			position: absolute;
			top: -4px;
			left: 0;
		}
	}

	.padlockOpen {
		position: relative;
		//display: flex;
		//flex-direction: column;
		& svg:first-child {
			position: absolute;
			top: -5px;
			left: -8px;
		}
	}
}
