.modalContainer {
    & header {
        display: flex;
        justify-content: space-between;

        width: 100%;

        padding-left: 1rem;
        border-radius: 0.6rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        color: #196480;
        background: #e6e9ea;

        & div {
            display: flex;
        }

        & h2 {
            background: none;
            font-size: 1.2rem;
            margin: 0;
            padding: 0;
        }

        & span {
            max-height: 4rem;
            padding: 0.5rem 1.5rem;
            margin-right: 5rem;

            text-transform: uppercase;

            color: #fff;

            border-radius: 15px;
        }

        & .buttonClose {
            position: relative;
        }
    }

    .modalInnerContent {
        padding: 1rem 2rem;

        .buttons {
            padding: 2rem;
            display: flex;
            justify-content: flex-end;

            button {
                width: 14rem;
                height: 3rem;
                margin-right: 3rem;
                font-size: 1.2rem;
                line-height: initial;
            }

            & .cancelPublishButton {
                color: #6697a6;
            }

            & .confirmPublishButton {
                background: #4592b0;
            }
        }
    }
}