.Input {
	width: 100%;

	& .changed {
		box-shadow: 3px 1px 14px 7px #4ab1b694;
	}

	& input {
		position: relative;
		width: 100%;
		height: 40px;

		background: rgba(255, 255, 255, 0.2);
		color: white;
		border: none;
		border-radius: 6px;

		background-repeat: no-repeat;
		background-position: 0 center;

		&::placeholder {
			text-transform: uppercase;
			opacity: 0.2;
			color: white;
		}
	}
}
