.Policy {
	height: 100%;

	background: #edf0f1;

	& .header {
		display: flex;
		justify-content: space-between;

		background: #edf0f1;

		border-top-left-radius: 0.6rem;

		& .table {
			margin-top: 2rem;

			margin-bottom: 1rem;
			margin-left: 3rem;

			& th {
				padding: 0.4rem;
				padding-right: 5rem;
				padding-left: 2rem;

				border-bottom: none;

				font-size: 1.2rem;
			}

			& thead {
				background: #ffffff;
				border-bottom: 1px solid #000;
			}

			& tbody {
				background: #edf0f1;
				padding: 1rem;

				& th {
					padding-top: 1rem;
					background: #e6e9ea;
				}
			}
		}
	}
	& .buttons {
		display: flex;
		justify-content: flex-end;

		height: 4rem;

		margin: 2rem 0;

		& button {
			width: 15rem;
			margin-right: 3rem;
		}
		& button:first-child {
			color: #6697a6;
		}
		& button:last-child {
			background: #4592b0;
		}
	}
}
