.Toggles {
	padding: 1rem 0;
	margin-bottom: 5rem;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.input {
			display: flex;
			align-items: center;
			width: 100%;
			border-bottom: 1px solid #b6bfc9;

			height: 5rem;

			.touched {
				color: #4ab1b6;
			}

			&:first-child {
				border-top: 1px solid #4592b0;
			}

			&:last-child {
				border-bottom: 1px solid #4592b0;
			}
		}

		label {
			width: 100%;

			padding-left: 1rem;
			margin: 1rem 0;

			cursor: pointer;
		}

		input {
			padding-left: 2rem;

			&:checked+label::before {
				border-color: royalblue;
			}

			&:checked+label::after {
				opacity: 1;
			}
		}
	}
}