.ChangePassword {
	& .modal {
		height: 55rem;
		max-width: 70rem;

		& .header {
			display: flex;
			align-items: center;

			padding-left: 2rem;
			height: 5rem;

			background: #e6e9ea;

			& h2 {
				margin: 0;
				padding: 0;
				color: #196480;
			}
		}
	}

	& form {
		width: 40%;
		height: calc(100% - 5rem - 7rem);
		padding-top: 5rem;
		margin: 0 auto;

		& label {
			line-height: 3.4rem;
			letter-spacing: 0.05rem;
			user-select: none;
		}

		& input {
			height: 3.4rem;

			padding: 0 1rem;

			border: 1px solid #b6bfc9;
			border-radius: 0.6rem;

			color: black;

			&:focus {
				box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.15);
				transition: 0.5s all;
			}
		}

		& .button {
			position: absolute;
			bottom: 17px;
			right: 20px;

			color: #ffffff;
			background: #498fa7;
		}
	}

	& .footer {
		width: 100%;
		height: 7rem;
		background: #e6e9ea;
	}
}
