.Daterangepicker {
	display: flex;

	align-items: center;

	height: 2.2rem;

	border: 1px solid #b6bfc9;
	border-radius: 1.5rem;

	color: #575757;

	.reportrange {
		font-size: 1.3rem;
		padding-left: 1rem;

		span {
			padding-right: 5rem;
			background: url(../../../assets/svg/calendar/calendar-icon.svg) 26.5rem -3px
				no-repeat;
		}

		cursor: pointer;
	}

	.intervalButton {
		display: flex;
		align-items: center;

		height: 100%;

		border: none;
		padding: 0 1rem;

		background: #4592b0;
		color: #ffffff;
		border-right: 1px solid #b6bfc9;
		border-radius: 1.5rem 0 0 1.5rem;
	}
}
