//$drop-area-border-radius: 2.5rem;
$drop-area-border-radius: 0;

.container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: #fff;
	outline: none;
	border-radius: $drop-area-border-radius;
}

.border {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	width: 450px;
	height: 550px;

	border-radius: $drop-area-border-radius;
	border-width: 2px;
	border-color: #c7c7c7;
	background: #b6bfc9;

	box-shadow: 0 0px 6px 3px rgba(0, 0, 0, 0.5);

	outline: none;
	transition: border 0.5s ease-in-out;

	&.active {
		border-color: #2196f3;
	}

	&.accept,
	&.loading {
		border-color: #00e676;
	}

	&.reject {
		border-color: #ff1744;
	}
}
