.Toolbar {
	position: absolute;
	float: left;
	top: 0;

	width: 7rem;
	height: 100%;

	padding-bottom: 7rem;

	letter-spacing: 0.2rem;
	background: #1b5c7e;
	background: linear-gradient(to top, #196480, #0c3450);
	font-family: "robotoregular", sans-serif;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	& .logo {
		width: 100%;
		height: 8rem;
		margin: 3rem 0;
		animation: logo 500ms 300ms ease forwards;
	}

	.linkList {
		opacity: 0;
		animation: links 300ms 300ms ease-out forwards;
	}

	span {
		position: absolute;
		bottom: 2rem;
		width: 100%;
		text-align: center;
		font-size: 1.1rem;
		font-family: "robotoregular", sans-serif;
		color: #ffffff;

		display: none;
	}

	&.expanded {
		width: 24rem;

		span {
			display: unset;
		}
	}
}

.popup {
	bottom: 12rem;
	left: 1.5rem;
	width: 24rem !important;

	&::after {
		content: '';
		position: absolute;
		bottom: -.8rem;
		left: calc(50% - .8rem);
		display: block;
		border-top: .8rem solid #fff;
		border-left: .8rem solid transparent;
		border-right: .8rem solid transparent;
	}

	& button {
		padding-left: 5rem;
	}
}

.openPopupEnterActive {
	animation: popup 300ms ease-out forwards;
}

.closePopupExitActive {
	animation: popup 300ms ease-out alternate-reverse forwards;
}

@keyframes logo {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes links {
	from {
		opacity: 0;
		transform: translateY(3rem);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes popup {
	from {
		bottom: 11rem;
		opacity: 0;
	}

	to {
		bottom: 12rem;
		opacity: 1;
	}
}


@media(min-width: 992px) and (max-width: 1800px) {
	.Toolbar {
		& .logo {
			height: 6rem;
		}

		&.expanded {
			width: 20rem;

			span {
				display: show;
			}
		}
	}
}